doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create User
        link(rel="stylesheet", href="/css/styles.css")
        link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet", href="/resources/demos/style.css")
        script(src="https://code.jquery.com/jquery-1.12.4.js") 
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js") 
        script(src="/Jquery/date.js")
    body 
    div.wrap
        form(action="/user/create", method="post") 
            h2 Create User
            div.container
                div(style="color: red")= msg
                label(for="name") Name 
                input#name(type="text", name="name", placeholder="Enter Username", value=nameholder)
                label(for="bday") Birthday 
                input#bDay(type="text", name="birthday", placeholder="Enter Username", value=bdayholder)
                label(for="uname") Username 
                input#username(type="text", name="username", placeholder="Enter Username", value=usernameholder)
                label(for="psw") Password
                input#password(type="password", name="password", placeholder="Enter Password") 
                select#role(name="role")
                    option(value='0', selected= role == 0) Member
                    option(value='1',selected= role == 1) Admin
                button(type="submit") submit 
