doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sign up
        link(rel="stylesheet", href="/css/styles.css")
        script(src="/Jquery/focus.js")
    body 
    div.wrap
        form(action="/signup", method="post") 
            h2 Sign up
            div.container
                div(style="color: red")= msg
                label(for="uname") Username 
                input#username(type="text", name="username", placeholder="Enter Username", value=usernameholder, autofocus)
                label(for="psw") Password
                input#password(type="password", name="password", placeholder="Enter Password") 
                label(for="pswCfm") Password Comfirm
                input#passwordCfm(type="password", name="passwordCfm", placeholder="Enter Password Comfirm") 
                button(type="submit") submit 
                div.centerW
                    a(href="/login",style="color: red") Already have account!
